#container {
    height: 500px;
    width: 800px;
    margin: 30px auto;
    background-color: #eaeaea;
    border: 1px solid #666;
    position: relative;
}

#box {
    height: 100px;
    width: 100px;
    background-color: #666;
    position: absolute;
    top: 10px;
    left: 100px;
    border-radius: 50%;
}
